<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933471818711-0damtghk69bi0qcblnn7s38ceukd409i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933471818711-0damtghk69bi0qcblnn7s38ceukd409i</string>
	<key>API_KEY</key>
	<string>AIzaSyDVoDF6gy7oRro8AJ-_3Mi6sn8hhsVyR_c</string>
	<key>GCM_SENDER_ID</key>
	<string>933471818711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.school-rn</string>
	<key>PROJECT_ID</key>
	<string>school-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>school-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933471818711:ios:70b04a88550ad267433192</string>
</dict>
</plist>